

<nav class="navbar navbar-expand-lg " style="background-color: rgb(8, 110, 107);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: pink;">📜 BL🏮gs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/blog-list">View Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-blog">add post</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">about</a>
          </li> -->
        </ul>
        
      </div>
    </div>
  </nav>
  <div class ="jumbotron jumbotron-fluid"  style="background-color: rgb(192, 249, 247);">
    <div class="container">
        <h1 class="display-4">📯ou Like  blog store💡 </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis quisquam consequuntur, possimus, nostrum voluptatibus ad voluptates, qui accusantium minus consectetur architecto facere sequi provident vel sit unde fuga! Facere, nisi.</p>
        <h6 class="display-5">I'm sure would You like this </h6>
        
    </div>
  </div>

  <!-- //============================ -->
  <div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=2048x2048&w=is&k=20&c=EWN8xNEFhvO6KnKETV3vffIFZWLOoTSA9xeim6s-Ykw=" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">view more</a> <br>
      
    </div>
  </div>